<!doctype html>
<html class="h-full">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/css/output.css" rel="stylesheet">
</head>

<body class="h-full">
  <div class="min-h-full">
    {% include 'header.html' %}
    <div class="py-10">
      <header>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl tracking-tight font-bold leading-tight text-gray-900">{% block header %}{% endblock %}
          </h1>
        </div>
      </header>
      <main>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
          {% block content %}{% endblock %}
        </div>
      </main>
    </div>
  </div>
</body>

</html>
