<nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
    aria-label="Pagination">
    <div class="hidden sm:block">
        <p class="text-sm text-gray-700">
            Showing
            <span class="font-medium">{{ 1 + (pagination_per_page * (pagination_current - 1)) }}</span>
            to
            <span class="font-medium">{{ 10 + (pagination_per_page * (pagination_current - 1)) }}</span>
            of
            <span class="font-medium">{{ pagination_build_count_total }}</span>
            results
        </p>
    </div>
    <div class="flex flex-1 justify-between sm:justify-end">
        <a href="/page/{{ '1' if pagination_current == 1 else pagination_prev }}"
            class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Previous</a>
        <a href="/page/{{ pagination_next }}"
            class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Next</a>
    </div>
</nav>
